body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #CCC3B4;
	cursor: none;
	color: honeydew;
}


h3 {
	font-weight: 900;
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 7px;
	margin-top: -50px;
	color: white;
}

p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 23px;
	letter-spacing: 1px;
}

img {
	max-width: 100%;
	height: auto;
}

.projects {
	margin: 0 3rem;
	display: flex;
	flex-direction: column;
}

.project {
	background-color: #837B74;
	border: 1px solid black;
	border-radius: 3px;
	margin: 3rem;
	padding: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	transform-style: preserve-3d;
	transform: perspective(500px);
	-webkit-box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.28);
	-moz-box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.28);
	box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.28);
}

.description h3 {
	transform: translateZ(50px);
}

.description .skill {
	transform: translateZ(20px);
	-webkit-box-shadow: 0 0 6px 4px rgba(255, 255, 255, 0.28);
	-moz-box-shadow: 0 0 6px 4px rgba(255, 255, 255, 0.28);
	box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.28);
}

.image img {
	transform: translateZ(100px);
	-webkit-box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.28);
	-moz-box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.28);
	box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.28);
}

.skill {
	display: inline-block;
	border: 1px solid cadetblue;
	background-color: honeydew;
	color: #2c3e50;
	margin-right: 4px;
	padding-right: 7px;
	padding-left: 7px;
	border-radius: 5px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 21px;
}

.link {
	display: inline-block;
}


.text3d {
	text-shadow: 0 0 0 rgb(225, 225, 225), 0 -1px 0 rgb(195, 195, 195), 0 -2px 0 rgb(165, 165, 165),
	0 -3px 0 rgb(135, 135, 135), 0 -4px 0 rgb(105, 105, 105), 0 -5px 0 rgb(75, 75, 75), 0 -6px 5px rgba(0, 0, 0, 0.5),
	0 -6px 1px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, .2);
}
