body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	cursor: none;
}

p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 23px;
	letter-spacing: 1px;
}

.projects {
	margin: 0 3rem;
	display: flex;
	flex-direction: column;
}

.project {
	border-radius: 3px;
	margin: 3rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.28);
	-moz-box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.28);
	transform-style: preserve-3d;
	transform: perspective(500px);
}
.project_name {
	font-weight: 900;
	text-align: center;
	font-size: 70px;
	text-transform: uppercase;
	letter-spacing: 7px;
	margin: -40px auto 0 auto;
	text-shadow: 0 0 0 rgb(225, 225, 225), 0 -1px 0 rgb(195, 195, 195), 0 -2px 0 rgb(165, 165, 165),
	0 -3px 0 rgb(135, 135, 135), 0 -4px 0 rgb(105, 105, 105), 0 -5px 0 rgb(75, 75, 75), 0 -6px 5px rgba(0, 0, 0, 0.5),
	0 -6px 1px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, .2);
	transform: translateZ(100px);
}

.description .skill {
	box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.28);
	-webkit-box-shadow: 0 0 6px 4px rgba(255, 255, 255, 0.28);
	-moz-box-shadow: 0 0 6px 4px rgba(255, 255, 255, 0.28);
	transform: translateZ(20px);
}

 .myVideo {
	box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.28);
	-webkit-box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.28);
	-moz-box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.28);
	transform: translateZ(100px);
}
 .video-wrapper{
	 margin-bottom: 50px;
 }

.skill {
	display: inline-block;
	margin-right: 4px;
	margin-bottom: 4px;
	padding-right: 7px;
	padding-left: 7px;
	border-radius: 5px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 21px;
}

.link {
	display: inline-block;
}

body{
	background-color:#000423 ;
	color: honeydew;
}
.project {
	background-color: #244C67;
	border: 1px solid #000;
}
.skill {
	border: 1px solid #C9C7CC;

	color:#C9C7CC;
}
.project_name a{
	color: #000423;
	text-decoration: none;
}
.link :link {
	color: honeydew;
	margin-right: 15px;
	text-decoration: none;
}
.link :visited{
	color: honeydew;
}
.link :hover{
	border-bottom: 1px solid blue;
	transition: all 0.4s ease;
	color: blue;
}

a{
	color: honeydew;
}
a:hover{
	color: blue;
}
.video-wrapper .myVideo{
width: 70%;
margin: 0 auto;
	display: block;
}
